Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

feat!(mozcloud): hosts.*.backends list => dict, now also handles ingress backends (#275)
  mozcloud-gateway/library/templates/_helpers.tpl
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/gateway-divergent-service-name-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-multi-backend-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-named-backend-configuration_test.yaml.snap
  mozcloud/application/tests/gateway-divergent-service-name-configuration_test.yaml
  mozcloud/application/tests/ingress-multi-backend-configuration_test.yaml
  mozcloud/application/tests/ingress-named-backend-configuration_test.yaml
  mozcloud/application/tests/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region_test.yaml
  mozcloud/application/tests/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml
  mozcloud/application/tests/values/gateway-divergent-service-name-configuration.yaml
  mozcloud/application/tests/values/ingress-multi-backend-configuration.yaml
  mozcloud/application/tests/values/ingress-named-backend-configuration.yaml
  mozcloud/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region.yaml
  mozcloud/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): aggregate TLS certs across all hosts sharing a Gateway
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/tests/__snapshot__/multi-host-gateway-cert-aggregation_test.yaml.snap
  mozcloud/application/tests/multi-host-gateway-cert-aggregation_test.yaml
  mozcloud/application/tests/values/multi-host-gateway-cert-aggregation.yaml
Due: chartkit-version-check, helm-unittest

fix: Add a comment around what is going on
  mozcloud/application/templates/gateway/gateway.yaml
Due: chartkit-version-check, helm-unittest

fix(zizmor): Scope action permissions
  .github/workflows/release-helm-chart-automatic.yaml
  .github/workflows/release-helm-chart-manual.yaml
Due: chartkit-version-check

Update .github/workflows/release-helm-chart-automatic.yaml
  .github/workflows/release-helm-chart-automatic.yaml
Due: chartkit-version-check

fix(zizmor): Scope action permissions (#279)
  .github/workflows/release-helm-chart-automatic.yaml
  .github/workflows/release-helm-chart-manual.yaml
Due: chartkit-version-check

fix(mozcloud): aggregate TLS certs across all hosts sharing a Gateway (#278)
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/tests/__snapshot__/multi-host-gateway-cert-aggregation_test.yaml.snap
  mozcloud/application/tests/multi-host-gateway-cert-aggregation_test.yaml
  mozcloud/application/tests/values/multi-host-gateway-cert-aggregation.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud-gateway): align IAP fields with GKE Gateway API spec
  mozcloud-gateway/library/templates/_backendpolicy.yaml
Due: chartkit-version-check, helm-unittest

chore: Whitespace fix
  mozcloud-gateway/library/templates/_backendpolicy.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud-gateway): align IAP fields with GKE Gateway API spec (#280)
  mozcloud-gateway/library/templates/_backendpolicy.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): support exec readiness / liveness commands
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/values/basic-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): pass customRequestHeaders, customResponseHeaders, healthCheck.requestPath through to BackendConfig
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/ingress-backend-custom-headers-configuration_test.yaml.snap
  mozcloud/application/tests/ingress-backend-custom-headers-configuration_test.yaml
  mozcloud/application/tests/values/ingress-backend-custom-headers-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): create a def for execProbe
  mozcloud/application/values.schema.json
Due: none

feat(mozcloud): support exec readiness / liveness commands (#281)
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/values/basic-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): flatten customRequest/ResponseHeaders to a list in values
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/values/ingress-backend-custom-headers-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): expose customRequestHeaders, customResponseHeaders, and healthCheck.requestPath in hosts.X.options (#282)
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/ingress-backend-custom-headers-configuration_test.yaml.snap
  mozcloud/application/tests/ingress-backend-custom-headers-configuration_test.yaml
  mozcloud/application/tests/values/ingress-backend-custom-headers-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): bump nginx version to 1.31 for CVE-2026-42945
  mozcloud/application/README.md
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/container-port-name_test.yaml.snap
  mozcloud/application/tests/__snapshot__/image-registry_test.yaml.snap
  mozcloud/application/tests/__snapshot__/lifecycle-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-multiple-workloads_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/image-registry_test.yaml
  mozcloud/application/tests/values/image-registry.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): bump nginx version to 1.31 for CVE-2026-42945 (#283)
  mozcloud/application/README.md
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/container-port-name_test.yaml.snap
  mozcloud/application/tests/__snapshot__/image-registry_test.yaml.snap
  mozcloud/application/tests/__snapshot__/lifecycle-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-multiple-workloads_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/image-registry_test.yaml
  mozcloud/application/tests/values/image-registry.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(ci): label chore(deps) and chore(ci) commits as no-release
  .github/workflows/release-helm-chart-automatic.yaml
Due: chartkit-version-check

chore(ci): label chore(deps) and chore(ci) commits as no-release (#284)
  .github/workflows/release-helm-chart-automatic.yaml
Due: chartkit-version-check

fix(mozcloud): don't render ports on init containers
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/init-container-ports_test.yaml.snap
  mozcloud/application/tests/init-container-ports_test.yaml
  mozcloud/application/tests/values/init-container-ports.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): don't render ports on init containers (#285)
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/init-container-ports_test.yaml.snap
  mozcloud/application/tests/init-container-ports_test.yaml
  mozcloud/application/tests/values/init-container-ports.yaml
Due: chartkit-version-check, helm-unittest

feat(motel): Add priorityClassName so daemonset collectors have higher scheduling priority
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/templates/daemonset-collector.yaml
  mozcloud-opentelemetry/application/values.schema.json
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

be less verbose
  mozcloud-opentelemetry/application/values.schema.json
Due: none

feat(motel): Add priorityClassName so daemonset collectors have higher scheduling priority (#286)
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/templates/daemonset-collector.yaml
  mozcloud-opentelemetry/application/values.schema.json
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mOTel): update priority class for OTel daemonset - Using the gmp-critical priority class for the short term to get this unblocked, will revisit next week when back from PTO
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/values.schema.json
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mOTel): update priority class for OTel daemonset (#287)
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/values.schema.json
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): support generic ephemeral volumes
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/workload-volumes_test.yaml.snap
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/tests/workload-volumes_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): add comments about preferring ephemeral volumes over emptydir, make default storage class standard-rwo
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/workload-volumes_test.yaml.snap
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/tests/workload-volumes_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): support generic ephemeral volumes (#288)
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/workload-volumes_test.yaml.snap
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/tests/workload-volumes_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): reject and forward options.healthCheck fields per host api
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/ingress-backend-healthcheck-options-forwarded_test.yaml.snap
  mozcloud/application/tests/gateway-host-options-healthcheck-rejects-ingress-only-fields_test.yaml
  mozcloud/application/tests/ingress-backend-healthcheck-options-forwarded_test.yaml
  mozcloud/application/tests/ingress-host-options-healthcheck-rejects-gateway-only-fields_test.yaml
  mozcloud/application/tests/values/gateway-host-options-healthcheck-rejects-ingress-only-fields.yaml
  mozcloud/application/tests/values/ingress-backend-healthcheck-options-forwarded.yaml
  mozcloud/application/tests/values/ingress-host-options-healthcheck-rejects-gateway-only-fields.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): Allow frontendConfig redirect overrides (remove default hardcode http>https redirect)
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud/application/Chart.yaml
  mozcloud/application/templates/gke/frontendconfig.yaml
  mozcloud/application/tests/__snapshot__/frontendconfig-override-configuration_test.yaml.snap
  mozcloud/application/tests/frontendconfig-override-configuration_test.yaml
  mozcloud/application/tests/values/frontendconfig-override-configuration.yaml
  mozcloud/application/values.schema.json
Due: chartkit-version-check, helm-unittest

fix(mozcloud): Allow frontendConfig redirect overrides (remove default hardcode http>https redirect); remove deprecated flag from unit test
  .github/workflows/unit-tests.yaml
  Makefile
Due: chartkit-version-check

fix(mozcloud): Allow frontendConfig redirect overrides (remove default hardcode http>https redirect); bumping chart version
  mozcloud-ingress/application/Chart.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): Allow frontendConfig redirect overrides (remove default hardcode http>https redirect); bumping chart version in README files
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/README.md
  mozcloud/application/README.md
Due: none

fix(mozcloud): drop chart version bumps; add usage docs
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): Allow frontendConfig redirect overrides (remove default hardcode http>https redirect) (#290)
  .github/workflows/unit-tests.yaml
  Makefile
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud/application/templates/gke/frontendconfig.yaml
  mozcloud/application/tests/__snapshot__/frontendconfig-override-configuration_test.yaml.snap
  mozcloud/application/tests/frontendconfig-override-configuration_test.yaml
  mozcloud/application/tests/values/frontendconfig-override-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): add enabled toggle to persistentVolumes configs
  mozcloud/application/templates/pvc/pvc.yaml
  mozcloud/application/tests/__snapshot__/pvc-disabled_test.yaml.snap
  mozcloud/application/tests/pvc-disabled_test.yaml
  mozcloud/application/tests/values/pvc-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): add enabled toggle to persistentVolumes configs (#291)
  mozcloud/application/templates/pvc/pvc.yaml
  mozcloud/application/tests/__snapshot__/pvc-disabled_test.yaml.snap
  mozcloud/application/tests/pvc-disabled_test.yaml
  mozcloud/application/tests/values/pvc-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(shared-gateway): Allow attaching to shared gateway
  mozcloud-gateway/application/tests/shared-gateway_test.yaml
  mozcloud-gateway/application/tests/values/external-gateway.yaml
  mozcloud-gateway/library/templates/_helpers.tpl
  mozcloud-gateway/library/templates/_httproute.yaml
  mozcloud/application/tests/mixed-gateway-ingress-configuration_test.yaml
Due: chartkit-version-check, helm-unittest
