Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

chartkit-version-check:
  name: chartkit
  entry: uv run --directory ./scripts chartkit version check
  language: python

helm-unittest:
  name: helm unittest
  entry: make unit-tests
  language: system
  pass_filenames: false

chore: Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: Add pull request template (#262)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix: provide sensible defaults for sidecar annotations
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: rework gcsFuseSidecar API to use pod.container.resources
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/tests/__snapshot__/workload-volumes_test.yaml.snap
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/tests/workload-volumes_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Add support for Google Cloud Storage FUSE CSI volumes (#258)
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/_volumes.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/tests/__snapshot__/pvc-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/workload-volumes_test.yaml.snap
  mozcloud/application/tests/pvc-configuration_test.yaml
  mozcloud/application/tests/values/pvc.yaml
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/tests/workload-volumes_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): rework and refine lifecycle hooks
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/image-registry_test.yaml.snap
  mozcloud/application/tests/__snapshot__/lifecycle-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-multiple-workloads_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/lifecycle-configuration_test.yaml
  mozcloud/application/tests/values/lifecycle-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(pre-commit): generate docs before running unit tests to save time
  .pre-commit-config.yaml
Due: chartkit-version-check

feat(mozcloud): rework and refine lifecycle hooks (#264)
  .pre-commit-config.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/image-registry_test.yaml.snap
  mozcloud/application/tests/__snapshot__/lifecycle-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-multiple-workloads_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/lifecycle-configuration_test.yaml
  mozcloud/application/tests/values/lifecycle-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): Allow customization of podmonitoring, port, path, and interval
  mozcloud/application/README.md
  mozcloud/application/templates/gke/podmonitoring.yaml
  mozcloud/application/tests/telegraf-podmonitoring_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Allow setting service port
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/custom-service-port-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/custom-service-port-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/custom-service-port-gateway-configuration_test.yaml
  mozcloud/application/tests/custom-service-port-ingress-configuration_test.yaml
  mozcloud/application/tests/values/custom-service-port-gateway-configuration.yaml
  mozcloud/application/tests/values/custom-service-port-ingress-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: Add readme
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Allow setting service port (#266)
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/custom-service-port-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/custom-service-port-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/custom-service-port-gateway-configuration_test.yaml
  mozcloud/application/tests/custom-service-port-ingress-configuration_test.yaml
  mozcloud/application/tests/values/custom-service-port-gateway-configuration.yaml
  mozcloud/application/tests/values/custom-service-port-ingress-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): allow users to specify app container port names
  .pre-commit-config.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_helpers.tpl
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/container-port-name_test.yaml.snap
  mozcloud/application/tests/container-port-name_test.yaml
  mozcloud/application/tests/values/container-port-name.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): allow users to specify app container port names (#267)
  .pre-commit-config.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_helpers.tpl
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/container-port-name_test.yaml.snap
  mozcloud/application/tests/container-port-name_test.yaml
  mozcloud/application/tests/values/container-port-name.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: move statefulset-only config under a statefulSet key
  mozcloud/application/README.md
  mozcloud/application/templates/workload/statefulset.yaml
  mozcloud/application/tests/statefulset-configuration_test.yaml
  mozcloud/application/tests/values/statefulset-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: alphabetize values and fix unit tests
  mozcloud/application/templates/workload/statefulset.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Add StatefulSet support [MZCLD-2173] (#245)
  mozcloud/application/README.md
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/templates/workload/hpa.yaml
  mozcloud/application/templates/workload/statefulset.yaml
  mozcloud/application/tests/__snapshot__/statefulset-configuration_test.yaml.snap
  mozcloud/application/tests/statefulset-configuration_test.yaml
  mozcloud/application/tests/values/statefulset-canary-strategy.yaml
  mozcloud/application/tests/values/statefulset-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(policy): Allow any change to the Mozcloud chart version (#263)
  policy/README.md
  policy/helm-automerge.rego
Due: none

feat(mozcloud): add wider support for PodMonitoring
  mozcloud/application/templates/gke/podmonitoring.yaml
  mozcloud/application/templates/gke/workload-podmonitoring.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): update tests with new podmonitoring changes
  mozcloud/application/tests/__snapshot__/podmonitorings_test.yaml.snap
  mozcloud/application/tests/__snapshot__/workload-podmonitoring_test.yaml.snap
  mozcloud/application/tests/podmonitorings_test.yaml
  mozcloud/application/tests/values/podmonitorings.yaml
  mozcloud/application/tests/values/workload-no-metrics.yaml
  mozcloud/application/tests/values/workload-podmonitoring-default-port.yaml
  mozcloud/application/tests/values/workload-podmonitoring-multi-container.yaml
  mozcloud/application/tests/values/workload-podmonitoring-portname.yaml
  mozcloud/application/tests/values/workload-podmonitoring.yaml
  mozcloud/application/tests/workload-podmonitoring_test.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): Update readme a values.schema.json
  mozcloud/application/README.md
  mozcloud/application/values.schema.json
Due: none

feat!: stop automatically prefixing ManagedCertificate resource names
  mozcloud-ingress/application/README.md
  mozcloud-ingress/application/tests/__snapshot__/managed-cert-prefix-configuration_test.yaml.snap
  mozcloud-ingress/application/tests/basic-configuration_test.yaml
  mozcloud-ingress/application/tests/managed-cert-prefix-configuration_test.yaml
  mozcloud-ingress/application/tests/values/managed-cert-prefix-configuration.yaml
  mozcloud-ingress/application/values.yaml
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud/application/README.md
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/basic-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/custom-service-port-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-backend-options-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-multi-domain-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/managed-cert-prefix-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/mixed-gateway-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/basic-ingress-configuration_test.yaml
  mozcloud/application/tests/managed-cert-prefix-configuration_test.yaml
  mozcloud/application/tests/mixed-gateway-ingress-configuration_test.yaml
  mozcloud/application/tests/values/managed-cert-prefix-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat!: stop automatically prefixing ManagedCertificate resource names (#269)
  mozcloud-ingress/application/README.md
  mozcloud-ingress/application/tests/__snapshot__/managed-cert-prefix-configuration_test.yaml.snap
  mozcloud-ingress/application/tests/basic-configuration_test.yaml
  mozcloud-ingress/application/tests/managed-cert-prefix-configuration_test.yaml
  mozcloud-ingress/application/tests/values/managed-cert-prefix-configuration.yaml
  mozcloud-ingress/application/values.yaml
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud/application/README.md
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/basic-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/custom-service-port-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-backend-options-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-multi-domain-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/managed-cert-prefix-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/mixed-gateway-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/basic-ingress-configuration_test.yaml
  mozcloud/application/tests/managed-cert-prefix-configuration_test.yaml
  mozcloud/application/tests/mixed-gateway-ingress-configuration_test.yaml
  mozcloud/application/tests/values/managed-cert-prefix-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): unify all PodMonitoring config under `podMonitorings`
  mozcloud/application/templates/gke/podmonitoring.yaml
  mozcloud/application/templates/gke/workload-podmonitoring.yaml
  mozcloud/application/tests/__snapshot__/podmonitorings_test.yaml.snap
  mozcloud/application/tests/__snapshot__/workload-podmonitoring_test.yaml.snap
  mozcloud/application/tests/podmonitorings_test.yaml
  mozcloud/application/tests/values/podmonitorings-multi-container.yaml
  mozcloud/application/tests/values/podmonitorings-no-port.yaml
  mozcloud/application/tests/values/podmonitorings-portname.yaml
  mozcloud/application/tests/values/workload-no-metrics.yaml
  mozcloud/application/tests/values/workload-podmonitoring-portname.yaml
  mozcloud/application/tests/values/workload-podmonitoring.yaml
  mozcloud/application/tests/workload-podmonitoring_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Update mozcloud/application/templates/gke/podmonitoring.yaml
  mozcloud/application/templates/gke/podmonitoring.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): generalize PodMonitoring config (#268)
  mozcloud/application/README.md
  mozcloud/application/templates/gke/podmonitoring.yaml
  mozcloud/application/tests/__snapshot__/podmonitorings_test.yaml.snap
  mozcloud/application/tests/__snapshot__/telegraf-podmonitoring_test.yaml.snap
  mozcloud/application/tests/podmonitorings_test.yaml
  mozcloud/application/tests/values/podmonitorings-multi-container.yaml
  mozcloud/application/tests/values/podmonitorings-no-port.yaml
  mozcloud/application/tests/values/podmonitorings-portname.yaml
  mozcloud/application/tests/values/podmonitorings.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(docs): update chart-standards skill and CONTRIBUTING.md
  .claude/skills/chart-standards/SKILL.md
  .gitignore
  CONTRIBUTING.md
Due: none

feat(docs): update chart-standards skill and CONTRIBUTING.md (#271)
  .claude/skills/chart-standards/SKILL.md
  .gitignore
  CONTRIBUTING.md
Due: none

feat(mozcloud): make adding topologySpreadConstraints possible
  deprecated/mozcloud-job/application/README.md
  deprecated/mozcloud-job/library/README.md
  deprecated/mozcloud-preview/application/README.md
  deprecated/mozcloud-preview/library/README.md
  deprecated/mozcloud-workload-core/library/README.md
  deprecated/mozcloud-workload-stateless/application/README.md
  deprecated/mozcloud-workload-stateless/library/README.md
  deprecated/mozcloud-workload/application/README.md
  mozcloud-fastly-ips/library/README.md
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/README.md
  mozcloud-labels/library/README.md
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/README.md
  mozcloud/application/README.md
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): make adding topologySpreadConstraints possible
  mozcloud/application/README.md
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): make adding topologySpreadConstraints possible (#274)
  mozcloud/application/README.md
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): allow explicit container resource limits
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/tests/__snapshot__/container-resources-limits_test.yaml.snap
  mozcloud/application/tests/container-resources-limits_test.yaml
  mozcloud/application/tests/values/container-resources-limits.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): surface limits placeholder uncommented in values.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): regenerate README for new limits field
  mozcloud/application/README.md
Due: none

feat(mozcloud): allow explicit container resource limits (#277)
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/tests/__snapshot__/container-resources-limits_test.yaml.snap
  mozcloud/application/tests/container-resources-limits_test.yaml
  mozcloud/application/tests/values/container-resources-limits.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): make defining custom HTTPRoutes possible
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/customroutes.yaml
  mozcloud/application/tests/__snapshot__/custom-routes-configuration_test.yaml.snap
  mozcloud/application/tests/custom-routes-configuration_test.yaml
  mozcloud/application/tests/values/custom-routes.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): hosts.*.backends list => dict, now also handles ingress backends
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/ingress-multi-backend-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-named-backend-configuration_test.yaml.snap
  mozcloud/application/tests/ingress-multi-backend-configuration_test.yaml
  mozcloud/application/tests/ingress-named-backend-configuration_test.yaml
  mozcloud/application/tests/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region_test.yaml
  mozcloud/application/tests/values/ingress-multi-backend-configuration.yaml
  mozcloud/application/tests/values/ingress-named-backend-configuration.yaml
  mozcloud/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region.yaml
  mozcloud/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): allow users to set backend and service names independently for gateway setups
  mozcloud-gateway/library/templates/_helpers.tpl
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/tests/__snapshot__/gateway-divergent-service-name-configuration_test.yaml.snap
  mozcloud/application/tests/gateway-divergent-service-name-configuration_test.yaml
  mozcloud/application/tests/values/gateway-divergent-service-name-configuration.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): make backends, backend healthchecks, and backend policies togglable to suit multi-region environments
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/ingress-multi-backend-configuration_test.yaml
  mozcloud/application/tests/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Path conditions:
  chartkit-version-check: any of: \.((ya?ml)|(tpl))$
  helm-unittest: any of: ^.*\/(application|library)\/.*(\.yaml|\.tpl)$
