Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

fix(mozcloud): added preview prefix to target configMaps and externalSecrets in deployment (#192)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/preview-all-resources_test.yaml
  mozcloud/application/tests/values/preview-all-resources.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud-gateway): incremented chart verrsion, added default weight and matching rule if not set
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/templates/_httproute.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): using new version of gateway lib chart with httproute defaults, updating tests and snapshots to include new weight/matching rule defaults
  mozcloud/application/Chart.yaml
  mozcloud/application/tests/__snapshot__/basic-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/httproute-rules_test.yaml.snap
  mozcloud/application/tests/__snapshot__/internal-and-external-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/mixed-gateway-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-multiple-workloads_test.yaml.snap
  mozcloud/application/tests/__snapshot__/shared-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/basic-gateway-configuration_test.yaml
  mozcloud/application/tests/httproute-rules_test.yaml
  mozcloud/application/tests/mixed-gateway-ingress-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

docs: updated README for mozcloud-gateway and mozcloud charts
  mozcloud-gateway/library/README.md
  mozcloud/application/README.md
Due: none

chore: incremented mozcloud-gateway app version, updated test and snapshots
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-gateway/application/tests/basic-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

docs: updated docs and incremented mozcloud-workload chart
  mozcloud-gateway/application/README.md
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
Due: chartkit-version-check, helm-unittest

test(mozcloud-workload): updated mozcloud workload snapshots and unit tests
  mozcloud-workload/application/tests/__snapshot__/basic-gateway-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/gateway-configuration-with-header-and-path-matching_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/gateway-configuration-with-header-matching_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/gateway-configuration-with-path-matching_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml.snap
  mozcloud-workload/application/tests/basic-gateway-configuration_test.yaml
  mozcloud-workload/application/tests/gateway-configuration-with-header-and-path-matching_test.yaml
  mozcloud-workload/application/tests/gateway-configuration-with-header-matching_test.yaml
  mozcloud-workload/application/tests/gateway-configuration-with-path-matching_test.yaml
Due: chartkit-version-check, helm-unittest

chore: bumped mozcloud-preview charts, updated README
  mozcloud-preview/application/Chart.yaml
  mozcloud-preview/application/README.md
  mozcloud-preview/library/Chart.yaml
  mozcloud-preview/library/README.md
Due: chartkit-version-check, helm-unittest

Add default httproute config (#195)
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-gateway/application/tests/basic-configuration_test.yaml
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-gateway/library/templates/_httproute.yaml
  mozcloud-preview/application/Chart.yaml
  mozcloud-preview/application/README.md
  mozcloud-preview/library/Chart.yaml
  mozcloud-preview/library/README.md
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/tests/__snapshot__/basic-gateway-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/gateway-configuration-with-header-and-path-matching_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/gateway-configuration-with-header-matching_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/gateway-configuration-with-path-matching_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml.snap
  mozcloud-workload/application/tests/basic-gateway-configuration_test.yaml
  mozcloud-workload/application/tests/gateway-configuration-with-header-and-path-matching_test.yaml
  mozcloud-workload/application/tests/gateway-configuration-with-header-matching_test.yaml
  mozcloud-workload/application/tests/gateway-configuration-with-path-matching_test.yaml
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/tests/__snapshot__/basic-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/httproute-rules_test.yaml.snap
  mozcloud/application/tests/__snapshot__/internal-and-external-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/mixed-gateway-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-multiple-workloads_test.yaml.snap
  mozcloud/application/tests/__snapshot__/shared-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/basic-gateway-configuration_test.yaml
  mozcloud/application/tests/httproute-rules_test.yaml
  mozcloud/application/tests/mixed-gateway-ingress-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

chore: deprecate preview and workload charts
  _README.md.gotmpl
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/README.md
  mozcloud-job/library/Chart.yaml
  mozcloud-job/library/README.md
  mozcloud-preview/application/Chart.yaml
  mozcloud-preview/application/README.md
  mozcloud-preview/library/Chart.yaml
  mozcloud-preview/library/README.md
  mozcloud-workload-core/library/Chart.yaml
  mozcloud-workload-core/library/README.md
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/README.md
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud/application/README.md
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(chartkit): ignore deprecated charts
  scripts/README.md
  scripts/chartkit/charts.py
  scripts/chartkit/cli.py
Due: none

fix: deprecated folder readme formatting
  deprecated/README.md
Due: none

chore: add deprecated dir readme
  deprecated/README.md
Due: none

chore(pre-commit): fix helm operations order
  .pre-commit-config.yaml
Due: chartkit-version-check

chore(chartkit): fix note
  scripts/README.md
Due: none

chore(mozcloud): bump chart version
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

feat: enable toggling of default service account
  .gitignore
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/serviceaccount/serviceaccount.yaml
  mozcloud/application/tests/service-accounts-default-disabled_test.yaml
  mozcloud/application/tests/values/service-accounts-default-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Only render pod monitoring if there are workloads defined
  mozcloud/application/templates/workload/podmonitoring.yaml
  mozcloud/application/tests/basic-job-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

chore: add default for serviceAccounts top level
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: fix readme docs
  mozcloud/application/README.md
Due: none

Enable toggling of default service account and only render pod monitoring if workloads are defined (#196)
  .gitignore
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/serviceaccount/serviceaccount.yaml
  mozcloud/application/templates/workload/podmonitoring.yaml
  mozcloud/application/tests/basic-job-configuration_test.yaml
  mozcloud/application/tests/service-accounts-default-disabled_test.yaml
  mozcloud/application/tests/values/service-accounts-default-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

test: added test for pvc configuration
  mozcloud/application/tests/__snapshot__/pvc-configuration_test.yaml.snap
  mozcloud/application/tests/pvc-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): set hpa syncwave to 1
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/workload/hpa.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): added syncwave for pvc
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/pvc/pvc.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): increment chart version, update snapshots, added hpa tests and updated docs
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/hpa-configuration_test.yaml.snap
  mozcloud/application/tests/hpa-configuration_test.yaml
  mozcloud/application/tests/values/hpa-configuration.yaml
Due: chartkit-version-check, helm-unittest

chore: bumping mozcloud chart version after rebase
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

Update resource syncwaves (#197)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/pvc/pvc.yaml
  mozcloud/application/templates/workload/hpa.yaml
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/hpa-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/pvc-configuration_test.yaml.snap
  mozcloud/application/tests/hpa-configuration_test.yaml
  mozcloud/application/tests/pvc-configuration_test.yaml
  mozcloud/application/tests/values/hpa-configuration.yaml
Due: chartkit-version-check, helm-unittest

Add support for overriding the default secret config.
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/externalsecret/externalsecret.yaml
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
Due: chartkit-version-check, helm-unittest

test
  README.md
Due: none

chore: add explanatory comment
  mozcloud/application/templates/externalsecret/externalsecret.yaml
Due: chartkit-version-check, helm-unittest

Add support for overriding the default secret config. (#198)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/externalsecret/externalsecret.yaml
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
Due: chartkit-version-check, helm-unittest

Add chartkit unittest command to run helm tests in parallel
  Makefile
  scripts/chartkit/charts.py
  scripts/chartkit/cli.py
Due: none

fix: Fix tests by removing |2
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-multiple-workloads_test.yaml.snap
Due: none
