Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

feat(release): update release workflows to use github app (#249)
  .github/actions/commit-and-create-gh-release/action.yml
  .github/actions/commit-and-tag/action.yml
  .github/workflows/release-helm-chart-automatic.yaml
  .github/workflows/release-helm-chart-manual.yaml
Due: chartkit-version-check

chore: Add ephemeral-storage support to container resources
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/ephemeral-storage-configuration_test.yaml.snap
  mozcloud/application/tests/ephemeral-storage-configuration_test.yaml
  mozcloud/application/tests/values/ephemeral-storage-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: Add ephemeral-storage support to container resources (#247)
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/ephemeral-storage-configuration_test.yaml.snap
  mozcloud/application/tests/ephemeral-storage-configuration_test.yaml
  mozcloud/application/tests/values/ephemeral-storage-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): add concurrencyPolicy support to cron jobs
  mozcloud/application/README.md
  mozcloud/application/templates/task/cronjob.yaml
  mozcloud/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/external-secrets_test.yaml.snap
  mozcloud/application/tests/basic-cronjob-configuration_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(unit-tests): allow GHA runner to run 16 unit tests in parallel
  .github/workflows/unit-tests.yaml
  Makefile
Due: chartkit-version-check

chore(chartkit): set parallel flag type to int
  scripts/chartkit/cli.py
Due: none

chore(unit-tests): revert parallel=16 change, keep ability to define that in Makefile
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

feat(mozcloud): add concurrencyPolicy support to CronJobs, allow custom parallel values for `make unit-tests` (#250)
  Makefile
  mozcloud/application/README.md
  mozcloud/application/templates/task/cronjob.yaml
  mozcloud/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/external-secrets_test.yaml.snap
  mozcloud/application/tests/basic-cronjob-configuration_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
  scripts/chartkit/cli.py
Due: chartkit-version-check, helm-unittest

Update documentation and skill to encourage fewer `it` blocks
  .claude/skills/chart-standards/SKILL.md
  CONTRIBUTING.md
Due: none

fix(mozcloud): remove undesired newlines from workload template
  mozcloud/application/templates/workload/_workloadTemplate.yaml
Due: chartkit-version-check, helm-unittest

chore: add .claude to .gitignore and .helmignore
  .gitignore
  deprecated/mozcloud-job/application/.helmignore
  deprecated/mozcloud-job/library/.helmignore
  deprecated/mozcloud-preview/application/.helmignore
  deprecated/mozcloud-preview/library/.helmignore
  mozcloud-gateway/application/.helmignore
  mozcloud-gateway/library/.helmignore
  mozcloud-ingress/application/.helmignore
  mozcloud-ingress/library/.helmignore
  mozcloud-labels/library/.helmignore
  mozcloud-opentelemetry/application/.helmignore
  mozcloud-service/library/.helmignore
  mozcloud/application/.helmignore
Due: none

fix(release): tighten up criteria for what is considered a Helm chart change
  .github/workflows/release-helm-chart-automatic.yaml
Due: chartkit-version-check

fix(mozcloud): remove undesired newlines, release fix (#252)
  .github/workflows/release-helm-chart-automatic.yaml
  .gitignore
  deprecated/mozcloud-job/application/.helmignore
  deprecated/mozcloud-job/library/.helmignore
  deprecated/mozcloud-preview/application/.helmignore
  deprecated/mozcloud-preview/library/.helmignore
  mozcloud-gateway/application/.helmignore
  mozcloud-gateway/library/.helmignore
  mozcloud-ingress/application/.helmignore
  mozcloud-ingress/library/.helmignore
  mozcloud-labels/library/.helmignore
  mozcloud-opentelemetry/application/.helmignore
  mozcloud-service/library/.helmignore
  mozcloud/application/.helmignore
  mozcloud/application/templates/workload/_workloadTemplate.yaml
Due: chartkit-version-check, helm-unittest

feat: Allow custom sync hooks for jobs
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/task/job.yaml
  mozcloud/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud/application/tests/basic-job-configuration_test.yaml
  mozcloud/application/tests/values/basic-job-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(moztel): MZCLD-2811
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(moztel): MZCLD-2811
  mozcloud-opentelemetry/application/Chart.yaml
Due: chartkit-version-check, helm-unittest

chore(moztel): MZCLD-2811_update_Readme
  mozcloud-opentelemetry/application/README.md
Due: none

chore(moztel): MZCLD-2811_revert_update_Readme
  mozcloud-opentelemetry/application/README.md
Due: none

chore(moztel): MZCLD-2811_run_pre-commit
  mozcloud-opentelemetry/application/README.md
Due: none

chore(moztel): MZCLD-2811 (#254)
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): add toggle to tasks to allow enable / disable
  mozcloud/application/templates/task/_helpers.tpl
  mozcloud/application/tests/__snapshot__/cronjob-disabled_test.yaml.snap
  mozcloud/application/tests/__snapshot__/job-disabled_test.yaml.snap
  mozcloud/application/tests/cronjob-disabled_test.yaml
  mozcloud/application/tests/job-disabled_test.yaml
  mozcloud/application/tests/values/cronjob-disabled.yaml
  mozcloud/application/tests/values/job-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: rename pvc-configuration test suite to workload-volumes
  mozcloud/application/tests/__snapshot__/workload-volumes_test.yaml.snap
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/tests/workload-volumes_test.yaml
Due: chartkit-version-check, helm-unittest

feat: add support for `gcsfuse.csi.storage.gke.io` volume
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/_helpers.tpl
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/tests/__snapshot__/workload-volumes_test.yaml.snap
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/tests/workload-volumes_test.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(unit-tests): add merge_group to triggers
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore(unit-tests): add merge_group to triggers (#260)
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore(mozcloud): add toggle to tasks to allow enable / disable (#257)
  mozcloud/application/templates/task/_helpers.tpl
  mozcloud/application/tests/__snapshot__/cronjob-disabled_test.yaml.snap
  mozcloud/application/tests/__snapshot__/job-disabled_test.yaml.snap
  mozcloud/application/tests/cronjob-disabled_test.yaml
  mozcloud/application/tests/job-disabled_test.yaml
  mozcloud/application/tests/values/cronjob-disabled.yaml
  mozcloud/application/tests/values/job-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: move `mozcloud.volumes.gcsFuseCsi` helper to a better-named helper
  mozcloud/application/templates/_helpers.tpl
  mozcloud/application/templates/_volumes.yaml
Due: chartkit-version-check, helm-unittest

fix: try to make the intention of the "gcsFuse" config options clearer
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/_workloadTemplate.yaml
  mozcloud/application/tests/values/workload-volumes.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Allow overrindg gateway and related names
  mozcloud/application/templates/gateway/_helpers.tpl
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Allow overrindg gateway and related names (#259)
  mozcloud/application/templates/gateway/_helpers.tpl
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: better value spec for configuring statefulsets
  mozcloud/application/templates/workload/statefulset.yaml
  mozcloud/application/tests/values/statefulset-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): make adding lifecycle key to containers possible
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/lifecycle-configuration_test.yaml.snap
  mozcloud/application/tests/lifecycle-configuration_test.yaml
  mozcloud/application/tests/values/lifecycle-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): make adding lifecycle key to containers possible (#261)
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/tests/__snapshot__/lifecycle-configuration_test.yaml.snap
  mozcloud/application/tests/lifecycle-configuration_test.yaml
  mozcloud/application/tests/values/lifecycle-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(policy): Allow any change to the Mozcloud chart version
  policy/README.md
  policy/helm-automerge.rego
Due: none
