Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

fix(mozcloud-otel): Additional groupbyattrs keys to reduce metric collision (#120)
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/templates/gateway-collector.yaml
Due: chartkit-version-check, helm-unittest

fix(otel): move metrics to loadbalancing exporter
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/templates/daemonset-collector.yaml
Due: chartkit-version-check, helm-unittest

chore(otel): additional pipeline changes to reduce errors (#121)
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/templates/daemonset-collector.yaml
  mozcloud-opentelemetry/application/templates/gateway-collector.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud-workload): allow users to name containers (#122)
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/values.schema.json
  mozcloud-workload/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud-opentelemetry): minor fixes to attempt at error reduction (#123)
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/templates/gateway-collector.yaml
Due: chartkit-version-check, helm-unittest

chore: remove mozcloud-shared-data chart and domain label (#124)
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-gateway/library/Chart.yaml
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-ingress/library/Chart.yaml
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud-job/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-job/library/Chart.yaml
  mozcloud-labels/library/Chart.yaml
  mozcloud-labels/library/templates/_annotations.yaml
  mozcloud-labels/library/templates/_labels.yaml
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-preview/application/Chart.yaml
  mozcloud-preview/library/Chart.yaml
  mozcloud-service/library/Chart.yaml
  mozcloud-workload-core/library/Chart.yaml
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/tests/__snapshot__/basic-gateway-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-ingress-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml.snap
Due: chartkit-version-check, helm-unittest

feat: default certmap names for workloads, schema tweaks (#125)
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/linter_values.yaml
  mozcloud-gateway/application/tests/values/globals.yaml
  mozcloud-gateway/application/values.schema.json
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/linter_values.yaml
  mozcloud-ingress/application/tests/values/globals.yaml
  mozcloud-ingress/application/values.schema.json
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/linter_values.yaml
  mozcloud-job/application/tests/values/globals.yaml
  mozcloud-job/application/values.schema.json
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/linter_values.yaml
  mozcloud-opentelemetry/application/values.schema.json
  mozcloud-preview/application/linter_values.yaml
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/linter_values.yaml
  mozcloud-workload-stateless/application/tests/values/globals.yaml
  mozcloud-workload-stateless/application/values.schema.json
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/linter_values.yaml
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/tests/values/globals.yaml
  mozcloud-workload/application/values.schema.json
  scripts/chartkit/files.py
  values.schema.json
Due: chartkit-version-check, helm-unittest

feat(mozcloud-fastly-ips): Create Helm library chart with Fastly origin IPs (#102)
  mozcloud-fastly-ips/library/.helmignore
  mozcloud-fastly-ips/library/Chart.yaml
  mozcloud-fastly-ips/library/README.md
  mozcloud-fastly-ips/library/templates/_data.tpl
Due: chartkit-version-check, helm-unittest

feat(docs): Generate README.md with helm-docs
  .pre-commit-config.yaml
  _README.md.gotmpl
  mozcloud-gateway/application/README.md
  mozcloud-opentelemetry/application/README.md
  mozcloud-preview/application/README.md
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload/application/README.md
Due: chartkit-version-check

feat(ci): Run pre-commit on every PR and push to main
  .github/workflows/pre-commit.yaml
  scripts/chartkit/mermaid.py
Due: chartkit-version-check

chore(pre-commit): try installing helm unittest and updating dependencies before running pre-commit
  .github/workflows/pre-commit.yaml
Due: chartkit-version-check

chore(pre-commit): install pre-commit before running
  .github/workflows/pre-commit.yaml
Due: chartkit-version-check

chore(pre-commit): try running pre-commit install first
  .github/workflows/pre-commit.yaml
Due: chartkit-version-check

chore(pre-commit): try installing helm-docs
  .github/workflows/pre-commit.yaml
Due: chartkit-version-check

chore(pre-commit): debug helm-docs
  .github/workflows/pre-commit.yaml
Due: chartkit-version-check

feat(mzcld-otel): switch to sending_queue.batch (#127)
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/templates/daemonset-collector.yaml
  mozcloud-opentelemetry/application/templates/gateway-collector.yaml
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: rework the way we define pod health checks
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/basic-workload-configuration_test.yaml
  mozcloud-workload/application/values.schema.json
  mozcloud-workload/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: tweak unit test gha workflow
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore: change the way we install dependencies for unit tests check
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore: add --verify=false to unittest installation
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore: try specific version of unittest
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore(mozcloud-workload): add safer defaults for minReplicas, maxReplicas, metrics
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/templates/_helpers.tpl
Due: chartkit-version-check, helm-unittest

fix(mozcloud-workload): merge workload configs with defaults even when hosts are not set
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/templates/_helpers.tpl
Due: chartkit-version-check, helm-unittest

chore(mozcloud-workload): only define container ports if we need them
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/templates/_helpers.tpl
Due: chartkit-version-check, helm-unittest

feat: rework the way we define pod health checks (#128)
  .github/workflows/unit-tests.yaml
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/basic-workload-configuration_test.yaml
  mozcloud-workload/application/values.schema.json
  mozcloud-workload/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: set "imagePullPolicy: Always" for all containers (#129)
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud-job/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-job/library/Chart.yaml
  mozcloud-job/library/templates/_cronjob.tpl
  mozcloud-job/library/templates/_job.tpl
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-workload-stateless/application/tests/basic-configuration_test.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/basic-workload-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud-workload): Add PVC Support to mozcloud-workload (#126)
  mozcloud-job/library/Chart.yaml
  mozcloud-job/library/templates/_cronjob.tpl
  mozcloud-job/library/templates/_job.tpl
  mozcloud-workload-core/library/Chart.yaml
  mozcloud-workload-core/library/templates/_helpers.tpl
  mozcloud-workload-core/library/templates/_persistentvolumeclaim.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/templates/workload.yaml
  mozcloud-workload/application/tests/__snapshot__/basic-pvc-configuration_test.yaml.snap
  mozcloud-workload/application/tests/basic-pvc-configuration_test.yaml
  mozcloud-workload/application/tests/basic-workload-configuration_test.yaml
  mozcloud-workload/application/tests/values/basic-configuration.yaml
  mozcloud-workload/application/tests/values/pvc-config.yaml
  mozcloud-workload/application/values.schema.json
  mozcloud-workload/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(ci): ruff-format
  scripts/chartkit/mermaid.py
Due: none

chore(ci): ruff-format (#130)
  scripts/chartkit/mermaid.py
Due: none

fix(ci): Run pre-commit on PRs and pushes
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

fix(ci): Run pre-commit on PRs and pushes (#131)
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

feat(docs): Generate documentation automatically
  .github/workflows/unit-tests.yaml
  .pre-commit-config.yaml
  _README.md.gotmpl
Due: chartkit-version-check

chore(docs): Documentation update
  mozcloud-ingress/application/README.md
  mozcloud-job/application/README.md
  mozcloud-opentelemetry/application/README.md
  mozcloud-preview/application/README.md
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload/application/README.md
Due: none

feat(docs): Generate documentation automatically (#132)
  .github/workflows/unit-tests.yaml
  .pre-commit-config.yaml
  _README.md.gotmpl
  mozcloud-ingress/application/README.md
  mozcloud-opentelemetry/application/README.md
  mozcloud-preview/application/README.md
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload/application/README.md
Due: chartkit-version-check

chore(mozcloud-job): add comments documenting pvc volume mounts
  mozcloud-job/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud-job): add comments documenting pvc volume mounts (#133)
  mozcloud-job/application/values.yaml
Due: chartkit-version-check, helm-unittest
