Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

feat(moztel): Add statsd service endpoint w/sessionAffinity
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/templates/gateway-statsd-service.yaml
  mozcloud-opentelemetry/application/values.schema.json
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: Move podmonitoring to gke
  mozcloud/application/templates/gke/podmonitoring.yaml
Due: chartkit-version-check, helm-unittest

fix: Remove podmonitoring from basic test
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
Due: none

fix: Fix tests
  mozcloud/application/tests/basic-workload-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

feat(moztel): Add statsd service endpoint w/sessionAffinity (#188)
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/templates/gateway-statsd-service.yaml
  mozcloud-opentelemetry/application/values.schema.json
  mozcloud-opentelemetry/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: Fixup tests
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

chore: deprecate preview and workload charts
  _README.md.gotmpl
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/README.md
  mozcloud-job/library/Chart.yaml
  mozcloud-job/library/README.md
  mozcloud-preview/application/Chart.yaml
  mozcloud-preview/application/README.md
  mozcloud-preview/library/Chart.yaml
  mozcloud-preview/library/README.md
  mozcloud-workload-core/library/Chart.yaml
  mozcloud-workload-core/library/README.md
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/README.md
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(chartkit): ignore deprecated charts
  scripts/README.md
  scripts/chartkit/charts.py
  scripts/chartkit/cli.py
Due: none

chore(chartkit): fix note
  scripts/README.md
Due: none

chore(pre-commit): fix helm operations order
  .pre-commit-config.yaml
Due: chartkit-version-check

chore: add deprecated dir readme
  deprecated/README.md
Due: none

fix: deprecated folder readme formatting
  deprecated/README.md
Due: none

fix: Tease apart backend to remove GCP specific components
  mozcloud/application/templates/gateway/backend.yaml
Due: chartkit-version-check, helm-unittest

fix: Merging from UI got me
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
Due: none

feat(mozcloud): Experimental values template execution for configmap
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/configmap/_helpers.tpl
  mozcloud/application/templates/configmap/configmap.yaml
  mozcloud/application/tests/__snapshot__/basic-configmap-interpolate_test.yaml.snap
  mozcloud/application/tests/basic-configmap-interpolate_test.yaml
  mozcloud/application/tests/values/basic-configmap-transform.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): Experimental values template execution for configmap (#177)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/configmap/_helpers.tpl
  mozcloud/application/templates/configmap/configmap.yaml
  mozcloud/application/tests/__snapshot__/basic-configmap-interpolate_test.yaml.snap
  mozcloud/application/tests/basic-configmap-interpolate_test.yaml
  mozcloud/application/tests/values/basic-configmap-transform.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): add labels and OTEL annotations to job/cronjob pod templates
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/task/cronjob.yaml
  mozcloud/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): bump version to 0.10.3
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

feat: Include a chart-standards Claude skill that can be used to assist with Helm Chart creation/updates
  .claude/skills/chart-standards/SKILL.md
Due: none

feat(mozcloud): add labels and OTEL annotations to job/cronjob pod templates (#190)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/task/cronjob.yaml
  mozcloud/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: added evals, updated chart-standards skill with new references, skill-creator skill optimizations and examples
  .claude/skills/chart-standards/SKILL.md
  .claude/skills/chart-standards/evals/evals.json
Due: none

feat: Include a chart-standards Claude skill that can be used to assist with Helm Chart creation/updates (#191)
  .claude/skills/chart-standards/SKILL.md
  .claude/skills/chart-standards/evals/evals.json
Due: none

Fix job secret name in pod spec volumes
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
Due: chartkit-version-check, helm-unittest

Fix job secret name in pod spec volumes (#193)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
Due: chartkit-version-check, helm-unittest

Add support for fsGroup
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/tests/__snapshot__/security-context_test.yaml.snap
  mozcloud/application/tests/security-context_test.yaml
  mozcloud/application/tests/values/security-context.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Add fsGroupChangePolicy support
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/tests/__snapshot__/security-context_test.yaml.snap
  mozcloud/application/tests/security-context_test.yaml
  mozcloud/application/tests/values/security-context.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Add support for fsGroup (#194)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/tests/__snapshot__/security-context_test.yaml.snap
  mozcloud/application/tests/security-context_test.yaml
  mozcloud/application/tests/values/security-context.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): updated README and snapshot
  mozcloud/application/tests/__snapshot__/basic-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/mixed-gateway-ingress-configuration_test.yaml.snap
Due: none

fix(mozcloud): added preview prefix to target configMaps and externalSecrets in deployment
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/tests/__snapshot__/basic-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/mixed-gateway-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/preview-all-resources_test.yaml
  mozcloud/application/tests/values/preview-all-resources.yaml
Due: chartkit-version-check, helm-unittest

test(mozcloud): added configmap and externalsecret to test values, updated snapshot
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/preview-all-resources_test.yaml
  mozcloud/application/tests/values/preview-all-resources.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): included preview prefix in job template configmap and secret references
  mozcloud/application/Chart.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): bump version after rebase off main
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

fix(mozcloud): added preview prefix to target configMaps and externalSecrets in deployment (#192)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/tests/__snapshot__/preview-all-resources_test.yaml.snap
  mozcloud/application/tests/preview-all-resources_test.yaml
  mozcloud/application/tests/values/preview-all-resources.yaml
Due: chartkit-version-check, helm-unittest
