Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

Add comment about use of "$workloadConfig.strategy | toYaml"
  mozcloud/application/templates/workload/rollout.yaml
Due: chartkit-version-check, helm-unittest

feat: support rollouts (#202)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/common.values.yaml.example
  mozcloud/application/templates/workload/hpa.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/rollout-configuration_test.yaml.snap
  mozcloud/application/tests/rollout-configuration_test.yaml
  mozcloud/application/tests/values/rollout-configuration.yaml
  mozcloud/application/tests/values/rollout-empty-steps.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: Trim - suffix from managed cert names
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

chore: Trim - suffix from managed cert names (#206)
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

feat(chartkit): run unit tests only for charts affected by a PR
  .github/workflows/unit-tests.yaml
  scripts/chartkit/charts.py
  scripts/chartkit/cli.py
  scripts/chartkit/files.py
  scripts/chartkit/git.py
Due: chartkit-version-check

feat: run unit tests for staged charts only during pre-commit
  .pre-commit-config.yaml
  Makefile
Due: chartkit-version-check

fix(ci): fetch full git history so origin/main is available for diff
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore: WIP change to mozcloud-gateway to demo affected-only CI tests
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/values.yaml
Due: chartkit-version-check, helm-unittest

Revert "chore: WIP change to mozcloud-gateway to demo affected-only CI tests"
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: test changed charts only (#207)
  .github/workflows/unit-tests.yaml
  .pre-commit-config.yaml
  Makefile
  scripts/chartkit/charts.py
  scripts/chartkit/cli.py
  scripts/chartkit/files.py
  scripts/chartkit/git.py
Due: chartkit-version-check

fix: correctly detect if stdin is being piped to unittest
  scripts/chartkit/cli.py
Due: none

fix: correctly detect if stdin is being piped to unittest (#208)
  scripts/chartkit/cli.py
Due: none

chore: Fix port name in workloads
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
Due: chartkit-version-check, helm-unittest

chore: move it to a helper
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_helpers.tpl
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
Due: chartkit-version-check, helm-unittest

chore: add tests
  mozcloud/application/tests/port-name-sanitization_test.yaml
  mozcloud/application/tests/values/port-name-sanitization.yaml
Due: chartkit-version-check, helm-unittest

chore: Fix port name in workloads (#209)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_helpers.tpl
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/port-name-sanitization_test.yaml
  mozcloud/application/tests/values/port-name-sanitization.yaml
Due: chartkit-version-check, helm-unittest

feat: support security policy in mozcloud-ingress
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/application/tests/basic-configuration_test.yaml
  mozcloud-ingress/application/tests/security-policy-configuration_test.yaml
  mozcloud-ingress/application/tests/values/security-policy-configuration.yaml
  mozcloud-ingress/application/values.schema.json
  mozcloud-ingress/application/values.yaml
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_helpers.tpl
Due: chartkit-version-check, helm-unittest

feat: support security policy in mozcloud-gateway
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/tests/basic-configuration_test.yaml
  mozcloud-gateway/application/tests/security-policy-configuration_test.yaml
  mozcloud-gateway/application/tests/values/security-policy-configuration.yaml
  mozcloud-gateway/application/values.schema.json
  mozcloud-gateway/application/values.yaml
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-gateway/library/templates/_backendpolicy.yaml
Due: chartkit-version-check, helm-unittest

feat: support security policy in mozcloud chart
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/tests/basic-gateway-configuration_test.yaml
  mozcloud/application/tests/security-policy-configuration_test.yaml
  mozcloud/application/tests/values/security-policy-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: remove stdin pipe detection from chartkit unittest
  .github/workflows/unit-tests.yaml
  Makefile
  scripts/chartkit/cli.py
Due: chartkit-version-check

fix: Allow multiple host names for routing for mozcloud consumers with several workloads
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/tests/__snapshot__/onprem-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/preview-all-resources_test.yaml
  mozcloud/application/tests/preview-configmap-transform_test.yaml
  mozcloud/application/tests/preview-multiple-workloads_test.yaml
  mozcloud/application/tests/rollout-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

fix: Use the special helm-docs version
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/README.md
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/README.md
  mozcloud/application/README.md
Due: none

fix: Use the same unittest as ci/cd
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/rollout-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

fix: Allow multiple host names for routing for mozcloud consumers wit… (#212)
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/tests/__snapshot__/onprem-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/preview-all-resources_test.yaml
  mozcloud/application/tests/preview-configmap-transform_test.yaml
  mozcloud/application/tests/preview-multiple-workloads_test.yaml
Due: chartkit-version-check, helm-unittest

feat: updated readmes, added contributing doc
  CONTRIBUTING.md
  README.md
  mozcloud/application/README.md.gotmpl
Due: none

chore: switched to american-style spelling
  CONTRIBUTING.md
  mozcloud/application/README.md.gotmpl
Due: none

chore: more readme updates
  CONTRIBUTING.md
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/README.md.gotmpl
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/README.md
  mozcloud-ingress/application/README.md.gotmpl
  mozcloud-ingress/library/README.md
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/README.md
  mozcloud/application/README.md
Due: none

chore: rework the helm-docs organization format to make things more modular
  .pre-commit-config.yaml
  _README.md.gotmpl
  mozcloud-fastly-ips/library/README.md
  mozcloud-fastly-ips/library/README.md.gotmpl
  mozcloud-fastly-ips/library/values.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/README.md.gotmpl
  mozcloud-gateway/library/README.md
  mozcloud-gateway/library/README.md.gotmpl
  mozcloud-ingress/application/README.md
  mozcloud-ingress/application/README.md.gotmpl
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/README.md.gotmpl
  mozcloud-labels/library/README.md
  mozcloud-labels/library/README.md.gotmpl
  mozcloud-labels/library/values.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-opentelemetry/application/README.md.gotmpl
  mozcloud-service/library/README.md
  mozcloud-service/library/README.md.gotmpl
  mozcloud/application/README.md
  mozcloud/application/README.md.gotmpl
Due: chartkit-version-check, helm-unittest

chore: use overrides for deprecated chart warnings
  .helmdocsignore
  _README.md.gotmpl
  deprecated/mozcloud-job/application/README.md
  deprecated/mozcloud-job/application/README.md.gotmpl
  deprecated/mozcloud-job/library/README.md
  deprecated/mozcloud-job/library/README.md.gotmpl
  deprecated/mozcloud-preview/application/README.md
  deprecated/mozcloud-preview/application/README.md.gotmpl
  deprecated/mozcloud-preview/library/README.md
  deprecated/mozcloud-preview/library/README.md.gotmpl
  deprecated/mozcloud-workload-core/library/README.md
  deprecated/mozcloud-workload-core/library/README.md.gotmpl
  deprecated/mozcloud-workload-stateless/application/README.md
  deprecated/mozcloud-workload-stateless/application/README.md.gotmpl
  deprecated/mozcloud-workload-stateless/library/README.md
  deprecated/mozcloud-workload-stateless/library/README.md.gotmpl
  deprecated/mozcloud-workload/application/README.md
  deprecated/mozcloud-workload/application/README.md.gotmpl
  mozcloud-fastly-ips/library/README.md
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/README.md
  mozcloud-labels/library/README.md
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/README.md
  mozcloud/application/README.md
Due: none
