Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

chore(README): use better/working internal doc links
  README.md
Due: none

fix: targetPort names now match container names, allow disabling of default secret
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/externalsecret/externalsecret.yaml
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/external-secrets-default-disabled_test.yaml.snap
  mozcloud/application/tests/external-secrets-default-disabled_test.yaml
  mozcloud/application/tests/values/external-secrets-default-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(README): use better/working internal doc links (#214)
  README.md
Due: none

feat: Allow other ingress configurations
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/traefik-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/traefik-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/traefik-gateway-configuration_test.yaml
  mozcloud/application/tests/traefik-ingress-configuration_test.yaml
  mozcloud/application/tests/values/traefik-gateway-configuration.yaml
  mozcloud/application/tests/values/traefik-ingress-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: targetPort names now match container names, allow disabling of default secret (#215)
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/externalsecret/externalsecret.yaml
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/external-secrets-default-disabled_test.yaml.snap
  mozcloud/application/tests/external-secrets-default-disabled_test.yaml
  mozcloud/application/tests/values/external-secrets-default-disabled.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: Include class name not just annotation
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/tests/__snapshot__/traefik-ingress-configuration_test.yaml.snap
Due: chartkit-version-check, helm-unittest

fix: remove stdin pipe detection from chartkit unittest (#211)
  .github/workflows/unit-tests.yaml
  Makefile
  scripts/chartkit/cli.py
Due: chartkit-version-check

PR review fixes
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Update mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/gateway/gateway.yaml
Due: chartkit-version-check, helm-unittest

Update mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/ingress/ingress.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): externalSecrets -> secrets in container defs, syntax fixes
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/_formatter.yaml
  mozcloud/application/templates/_labels.yaml
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/templates/gke/frontendconfig.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/task/cronjob.yaml
  mozcloud/application/templates/task/job.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/external-secrets_test.yaml.snap
  mozcloud/application/tests/external-secrets_test.yaml
  mozcloud/application/tests/values/external-secrets.yaml
  mozcloud/application/tests/values/preview-all-resources.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): light alphabetization in json schema
  mozcloud/application/values.schema.json
Due: none

feat: Allow other ingress configurations (#217)
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/traefik-gateway-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/traefik-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/traefik-gateway-configuration_test.yaml
  mozcloud/application/tests/traefik-ingress-configuration_test.yaml
  mozcloud/application/tests/values/traefik-gateway-configuration.yaml
  mozcloud/application/tests/values/traefik-ingress-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: add nodeSelector, tolerations, and affinity support for pod scheduling
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: uncomment empty default values for helm-docs compatibility
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

docs: update README with scheduling fields from helm-docs
  mozcloud/application/README.md
Due: none

feat: Allow passing envFromField
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/env-from-fields-configuration_test.yaml.snap
  mozcloud/application/tests/env-from-fields-configuration_test.yaml
  mozcloud/application/tests/values/env-from-fields-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Allow passing envFromField (#221)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/env-from-fields-configuration_test.yaml.snap
  mozcloud/application/tests/env-from-fields-configuration_test.yaml
  mozcloud/application/tests/values/env-from-fields-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: try to fix manual release process
  .github/workflows/manually-release-helm-charts.yaml
  .github/workflows/pr-chart-management.yaml
Due: chartkit-version-check

chore: minor readme update
  CONTRIBUTING.md
Due: none

chore: update docs to reflect new release process
  CONTRIBUTING.md
  README.md
  scripts/README.md
Due: none

chore: try to fix bugs in new release process
  .github/actions/bump-and-commit/action.yml
  .github/workflows/pr-chart-management.yaml
Due: chartkit-version-check

feat: change release process to occur during PR merge or manually
  .github/actions/bump-and-commit/action.yml
  .github/actions/package-and-push/action.yml
  .github/workflows/auto-push-tag-helm-charts.yaml
  .github/workflows/manually-release-helm-charts.yaml
  .github/workflows/pr-chart-management.yaml
  .pre-commit-config.yaml
  scripts/chartkit/cli.py
  scripts/chartkit/versions.py
Due: chartkit-version-check

chore: fix chart version preview comment
  .github/workflows/pr-chart-management.yaml
Due: chartkit-version-check

feat: new release process (#219)
  .github/actions/bump-and-commit/action.yml
  .github/actions/package-and-push/action.yml
  .github/workflows/auto-push-tag-helm-charts.yaml
  .github/workflows/manually-release-helm-charts.yaml
  .github/workflows/pr-chart-management.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  scripts/README.md
  scripts/chartkit/cli.py
  scripts/chartkit/versions.py
Due: chartkit-version-check

chore(release): bug fixes
  .github/actions/bump-and-commit/action.yml
Due: chartkit-version-check

chore: allow triggering of manual release from a branch
  .github/workflows/manually-release-helm-charts.yaml
Due: chartkit-version-check

chore(chartkit): fix bug where errors were piped into output json
  scripts/chartkit/cli.py
Due: none
