Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

chartkit-version-check:
  name: chartkit
  entry: uv run --directory ./scripts chartkit version check
  language: python

helm-unittest:
  name: helm unittest
  entry: make unit-tests
  language: system
  pass_filenames: false

chore(release): change ordering so that a commit and tag is the last thing we do in a release
  .github/actions/bump-and-commit/action.yml
  .github/actions/commit-and-tag/action.yml
  .github/actions/package-and-push/action.yml
  .github/workflows/manually-release-helm-charts.yaml
  .github/workflows/pr-chart-management.yaml
Due: chartkit-version-check

chore: rename an action
  .github/actions/bump-and-generate-docs/action.yml
  .github/workflows/manually-release-helm-charts.yaml
  .github/workflows/pr-chart-management.yaml
Due: chartkit-version-check

chore: delete file we don't need
  bump-result.json
Due: none

chore: only add files we need, add temp CI files to .gitignore
  .github/actions/commit-and-tag/action.yml
  .gitignore
Due: chartkit-version-check

chore: revert mozcloud chart version
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

chore(github): renamed workflows
  .github/workflows/manually-push-tag-helm-chart.yaml
  .github/workflows/release-helm-chart-automatic.yaml
  .github/workflows/release-helm-chart-manual.yaml
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore: tidy up chart version preview
  .github/workflows/release-helm-chart-automatic.yaml
  scripts/chartkit/cli.py
  scripts/chartkit/versions.py
Due: chartkit-version-check

chore(mozcloud): add blank line to trigger version bump
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(release): rework/fix release process (#222)
  .github/actions/bump-and-generate-docs/action.yml
  .github/actions/commit-and-tag/action.yml
  .github/actions/package-and-push/action.yml
  .github/workflows/manually-push-tag-helm-chart.yaml
  .github/workflows/release-helm-chart-automatic.yaml
  .github/workflows/release-helm-chart-manual.yaml
  .github/workflows/unit-tests.yaml
  .gitignore
  mozcloud/application/values.yaml
  scripts/chartkit/cli.py
  scripts/chartkit/versions.py
Due: chartkit-version-check, helm-unittest

feat: Allow pull image secrets for service accounts
  mozcloud/application/README.md
  mozcloud/application/templates/serviceaccount/serviceaccount.yaml
  mozcloud/application/tests/__snapshot__/service-account-image-pull-secrets_test.yaml.snap
  mozcloud/application/tests/service-account-image-pull-secrets_test.yaml
  mozcloud/application/tests/values/service-account-image-pull-secrets.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Allow pull image secrets for service accounts (#223)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/serviceaccount/serviceaccount.yaml
  mozcloud/application/tests/__snapshot__/service-account-image-pull-secrets_test.yaml.snap
  mozcloud/application/tests/service-account-image-pull-secrets_test.yaml
  mozcloud/application/tests/values/service-account-image-pull-secrets.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: delete manual push workflow as it is superceded by manual release
  .github/workflows/manually-push-tag-helm-chart.yaml
Due: chartkit-version-check

chore: ensure preview step runs when labels are automatically created
  .github/workflows/release-helm-chart-automatic.yaml
  CONTRIBUTING.md
Due: chartkit-version-check

chore: Revert chart bumps
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

feat: add `securityPolicy` support (#210)
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/tests/basic-configuration_test.yaml
  mozcloud-gateway/application/tests/security-policy-configuration_test.yaml
  mozcloud-gateway/application/tests/values/security-policy-configuration.yaml
  mozcloud-gateway/application/values.schema.json
  mozcloud-gateway/application/values.yaml
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-gateway/library/templates/_backendpolicy.yaml
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/application/tests/basic-configuration_test.yaml
  mozcloud-ingress/application/tests/security-policy-configuration_test.yaml
  mozcloud-ingress/application/tests/values/security-policy-configuration.yaml
  mozcloud-ingress/application/values.schema.json
  mozcloud-ingress/application/values.yaml
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-ingress/library/templates/_helpers.tpl
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/tests/basic-gateway-configuration_test.yaml
  mozcloud/application/tests/security-policy-configuration_test.yaml
  mozcloud/application/tests/values/security-policy-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: uncomment empty default values for helm-docs compatibility
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: add nodeSelector, tolerations, and affinity support for pod scheduling
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

docs: update README with scheduling fields from helm-docs
  mozcloud/application/README.md
Due: none

feat: add nodeSelector, tolerations, and affinity support (#220)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): externalSecrets -> secrets in container defs, syntax fixes
  mozcloud/application/README.md
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/_formatter.yaml
  mozcloud/application/templates/_labels.yaml
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/templates/gke/frontendconfig.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/task/cronjob.yaml
  mozcloud/application/templates/task/job.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/external-secrets_test.yaml.snap
  mozcloud/application/tests/external-secrets_test.yaml
  mozcloud/application/tests/values/external-secrets.yaml
  mozcloud/application/tests/values/preview-all-resources.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(mozcloud): light alphabetization in json schema
  mozcloud/application/values.schema.json
Due: none

chore(mozcloud): remove duplicate secrets entry in validation schema
  mozcloud/application/values.schema.json
Due: none

feat(mozcloud): externalSecrets -> secrets in container defs, syntax fixes (#218)
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/_annotations.yaml
  mozcloud/application/templates/_formatter.yaml
  mozcloud/application/templates/_labels.yaml
  mozcloud/application/templates/_pod.yaml
  mozcloud/application/templates/gateway/backend.yaml
  mozcloud/application/templates/gateway/gateway.yaml
  mozcloud/application/templates/gateway/httproute.yaml
  mozcloud/application/templates/gke/frontendconfig.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/templates/task/_jobTemplate.yaml
  mozcloud/application/templates/task/cronjob.yaml
  mozcloud/application/templates/task/job.yaml
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/external-secrets_test.yaml.snap
  mozcloud/application/tests/external-secrets_test.yaml
  mozcloud/application/tests/values/external-secrets.yaml
  mozcloud/application/tests/values/preview-all-resources.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: disable telegraf stats by default, add more backends when using multiple domains
  .claude/skills/chart-standards/SKILL.md
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/templates/gke/podmonitoring.yaml
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-multi-domain-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/telegraf-podmonitoring_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/ingress-multi-domain-configuration_test.yaml
  mozcloud/application/tests/telegraf-podmonitoring_test.yaml
  mozcloud/application/tests/values/ingress-multi-domain-configuration.yaml
  mozcloud/application/tests/values/telegraf-podmonitoring.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore: fix readme
  mozcloud/application/README.md
Due: none

chore(mozcloud): move telegraf: disabled test to basic workload configuration to remove mismatched type warnings
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/telegraf-podmonitoring_test.yaml
Due: chartkit-version-check, helm-unittest

fix: disable telegraf stats by default, add more backends when using multiple domains (#224)
  .claude/skills/chart-standards/SKILL.md
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/templates/gke/podmonitoring.yaml
  mozcloud/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/ingress-multi-domain-configuration_test.yaml.snap
  mozcloud/application/tests/__snapshot__/telegraf-podmonitoring_test.yaml.snap
  mozcloud/application/tests/basic-workload-configuration_test.yaml
  mozcloud/application/tests/ingress-multi-domain-configuration_test.yaml
  mozcloud/application/tests/telegraf-podmonitoring_test.yaml
  mozcloud/application/tests/values/ingress-multi-domain-configuration.yaml
  mozcloud/application/tests/values/telegraf-podmonitoring.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: 1.0.0 release for mozcloud, gateway, ingress, labels, service
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-labels/library/Chart.yaml
  mozcloud-labels/library/README.md
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/Chart.yaml
  mozcloud-service/library/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

chore(mozcloud): update comment for workload addresses
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

chore(README): fix example version of mozcloud chart
  README.md
Due: none

fix: cache chart dependencies to speed up unit test runs
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore: revert last change
  .github/workflows/unit-tests.yaml
Due: chartkit-version-check

chore: try parallel=8 for gha runner unit tests
  .github/workflows/unit-tests.yaml
  Makefile
  scripts/chartkit/cli.py
Due: chartkit-version-check

test: bump readmes to satisfy pre-commit job
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-labels/library/Chart.yaml
  mozcloud-labels/library/README.md
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/Chart.yaml
  mozcloud-service/library/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

chore: revert test version bumps
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-labels/library/Chart.yaml
  mozcloud-labels/library/README.md
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/Chart.yaml
  mozcloud-service/library/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

chore: revert recent changes to optimize gha runner parallelization
  .github/workflows/unit-tests.yaml
  Makefile
  scripts/chartkit/cli.py
Due: chartkit-version-check

feat: 1.0.0 release for mozcloud, gateway, ingress, labels, service (#225)
  README.md
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/library/Chart.yaml
  mozcloud-gateway/library/README.md
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/library/Chart.yaml
  mozcloud-ingress/library/README.md
  mozcloud-labels/library/Chart.yaml
  mozcloud-labels/library/README.md
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-service/library/Chart.yaml
  mozcloud-service/library/README.md
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: Optional different certificate providers
  mozcloud-ingress/library/templates/_ingress.yaml
  mozcloud/application/templates/ingress/ingress.yaml
  mozcloud/application/tests/__snapshot__/cert-manager-ingress-configuration_test.yaml.snap
  mozcloud/application/tests/cert-manager-ingress-configuration_test.yaml
  mozcloud/application/tests/values/cert-manager-ingress-configuration.yaml
  mozcloud/application/tests/values/cert-manager-ingress-per-host-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix: PR Feedback
  mozcloud/application/templates/ingress/ingress.yaml
Due: chartkit-version-check, helm-unittest

Path conditions:
  chartkit-version-check: any of: \.((ya?ml)|(tpl))$
  helm-unittest: any of: ^.*\/(application|library)\/.*(\.yaml|\.tpl)$
