Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

chartkit-version-check:
  name: chartkit
  entry: uv run --directory ./scripts chartkit version check
  language: python

helm-unittest:
  name: helm unittest
  entry: make unit-tests
  language: system
  pass_filenames: false

Add Dependabot config with 14-day github-actions cooldown (#339)
  .github/dependabot.yml
Due: chartkit-version-check

feat(mozcloud): add KubeRay RayService as a workload type
  mozcloud/application/README.md
  mozcloud/application/templates/workload/hpa.yaml
  mozcloud/application/templates/workload/pdb.yaml
  mozcloud/application/templates/workload/rayservice.yaml
  mozcloud/application/tests/__snapshot__/rayservice-configuration_test.yaml.snap
  mozcloud/application/tests/rayservice-configuration_test.yaml
  mozcloud/application/tests/values/rayservice-configuration.yaml
  mozcloud/application/tests/values/rayservice-gcsft-no-redis.yaml
  mozcloud/application/tests/values/rayservice-scale-from-zero.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): add chart-wide reloader.enabled toggle
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/templates/workload/statefulset.yaml
  mozcloud/application/tests/__snapshot__/reloader-configuration_test.yaml.snap
  mozcloud/application/tests/reloader-configuration_test.yaml
  mozcloud/application/tests/values/reloader-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

docs(mozcloud): regenerate README for reloader.enabled
  mozcloud/application/README.md
Due: none

fix(mozcloud): scope reloader.enabled to Deployment/StatefulSet, add per-workload override
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/templates/workload/statefulset.yaml
  mozcloud/application/tests/__snapshot__/reloader-configuration_test.yaml.snap
  mozcloud/application/tests/reloader-configuration_test.yaml
  mozcloud/application/tests/values/reloader-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

docs(mozcloud): trim reloader comments, mark Rollout as a TODO
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): add chart-wide reloader.enabled toggle (#345)
  mozcloud/application/README.md
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/deployment.yaml
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/templates/workload/statefulset.yaml
  mozcloud/application/tests/__snapshot__/reloader-configuration_test.yaml.snap
  mozcloud/application/tests/reloader-configuration_test.yaml
  mozcloud/application/tests/values/reloader-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): enable reloader.enabled for Rollout workloads
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/reloader-configuration_test.yaml.snap
  mozcloud/application/tests/reloader-configuration_test.yaml
  mozcloud/application/tests/values/reloader-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Update values.yaml
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud): enable reloader.enabled for Rollout workloads (#346)
  mozcloud/application/templates/workload/_helpers.tpl
  mozcloud/application/templates/workload/rollout.yaml
  mozcloud/application/tests/__snapshot__/reloader-configuration_test.yaml.snap
  mozcloud/application/tests/reloader-configuration_test.yaml
  mozcloud/application/tests/values/reloader-configuration.yaml
  mozcloud/application/values.schema.json
  mozcloud/application/values.yaml
Due: chartkit-version-check, helm-unittest

Path conditions:
  chartkit-version-check: any of: \.((ya?ml)|(tpl))$
  helm-unittest: any of: ^.*\/(application|library)\/.*(\.yaml|\.tpl)$
