Repository mozilla/helm-charts: changes, and which pre-commit hooks are due for each by the changed paths.
All: chartkit-version-check, helm-unittest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: chartkit-version-check
        name: chartkit
        entry: uv run --directory ./scripts chartkit version check
        files: \.((ya?ml)|(tpl))$
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter, toml]
      - id: ruff-check # linter
        types_or: [python, pyi, jupyter, toml]
        args: [--fix]
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: local
    hooks:
      - id: helm-unittest
        name: helm unittest
        entry: make unit-tests
        files: '^.*\/(application|library)\/.*(\.yaml|\.tpl)$'
        language: system
        pass_filenames: false

chore(mozcloud-job): add comments documenting pvc volume mounts (#133)
  mozcloud-job/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud-workload-core): added missing default fields to externalsecret template
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/README.md
  mozcloud-job/library/Chart.yaml
  mozcloud-workload-core/library/Chart.yaml
  mozcloud-workload-core/library/templates/_externalsecret.yaml
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-workload-stateless/application/tests/basic-configuration_test.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-pvc-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/basic-workload-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud-workload): updated helm unittest plugin and fixed snapshot yaml pipe
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-pvc-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
Due: none

fix(mozcloud-workload-core): added missing default fields to externalsecret template (#134)
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/README.md
  mozcloud-job/library/Chart.yaml
  mozcloud-workload-core/library/Chart.yaml
  mozcloud-workload-core/library/templates/_externalsecret.yaml
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-workload-stateless/application/tests/basic-configuration_test.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-pvc-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/basic-workload-configuration_test.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud-workload-stateless/library): added checksum annotation for any configmaps attached as volumes
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/application/templates/deployment.yaml
  mozcloud-workload-stateless/application/tests/configmap-checksum_test.yaml
  mozcloud-workload-stateless/application/tests/values/configmap-checksum.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/templates/workload.yaml
  mozcloud-workload/application/tests/configmap-checksum_test.yaml
  mozcloud-workload/application/tests/values/configmap-checksum.yaml
Due: chartkit-version-check, helm-unittest

feat(mozcloud-workload-stateless/library): added checksum annotation for any configmaps attached as volumes (#135)
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/application/templates/deployment.yaml
  mozcloud-workload-stateless/application/tests/configmap-checksum_test.yaml
  mozcloud-workload-stateless/application/tests/values/configmap-checksum.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/templates/workload.yaml
  mozcloud-workload/application/tests/configmap-checksum_test.yaml
  mozcloud-workload/application/tests/values/configmap-checksum.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud-workload-stateless): nginx configmap is not included in the earlier volume change, added checksum annotation for nginx configmap as well
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/application/tests/configmap-checksum_test.yaml
  mozcloud-workload-stateless/application/tests/values/configmap-checksum-nginx.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/tests/configmap-checksum_test.yaml
  mozcloud-workload/application/tests/values/configmap-checksum-nginx.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud-workload-stateless): nginx configmap is not included in the earlier volume change, added checksum annotation for nginx configmap as well (#136)
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/application/tests/configmap-checksum_test.yaml
  mozcloud-workload-stateless/application/tests/values/configmap-checksum-nginx.yaml
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/tests/configmap-checksum_test.yaml
  mozcloud-workload/application/tests/values/configmap-checksum-nginx.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud-workload): external secrets were broken. fixed them
  mozcloud-workload/application/templates/_helpers.tpl
Due: chartkit-version-check, helm-unittest

fix(mozcloud-workload): external secrets were broken. fixed them (#137)
  mozcloud-workload/application/templates/_helpers.tpl
Due: chartkit-version-check, helm-unittest

chore(mozcloud-workload): bump chart version
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
Due: chartkit-version-check, helm-unittest

chore(mozcloud-workload): bump chart version (#138)
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
Due: chartkit-version-check, helm-unittest

feat(mozcloud-job): containers (list) -> container (dict)
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/README.md
  mozcloud-job/application/tests/values/basic-cronjob-configuration.yaml
  mozcloud-job/application/tests/values/basic-job-configuration.yaml
  mozcloud-job/application/values.schema.json
  mozcloud-job/application/values.yaml
  mozcloud-job/library/Chart.yaml
  mozcloud-job/library/templates/_cronjob.tpl
  mozcloud-job/library/templates/_helpers.tpl
  mozcloud-job/library/templates/_job.tpl
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/templates/_helpers.tpl
Due: chartkit-version-check, helm-unittest

test: create test-chart
  test-chart/.helmignore
  test-chart/Chart.yaml
  test-chart/charts/test-subchart/.helmignore
  test-chart/charts/test-subchart/Chart.yaml
  test-chart/charts/test-subchart/templates/_helpers.tpl
  test-chart/templates/_helpers.tpl
  test-chart/templates/configmap.yaml
Due: chartkit-version-check

feat(mozcloud-labels): add artifact_id label
  mozcloud-gateway/application/Chart.yaml
  mozcloud-gateway/application/README.md
  mozcloud-gateway/application/templates/_helpers.tpl
  mozcloud-gateway/library/Chart.yaml
  mozcloud-ingress/application/Chart.yaml
  mozcloud-ingress/application/README.md
  mozcloud-ingress/application/templates/_helpers.tpl
  mozcloud-ingress/library/Chart.yaml
  mozcloud-job/application/Chart.yaml
  mozcloud-job/application/README.md
  mozcloud-job/application/templates/_helpers.tpl
  mozcloud-job/library/Chart.yaml
  mozcloud-labels/library/Chart.yaml
  mozcloud-labels/library/templates/_labels.yaml
  mozcloud-opentelemetry/application/Chart.yaml
  mozcloud-opentelemetry/application/README.md
  mozcloud-preview/application/Chart.yaml
  mozcloud-preview/application/README.md
  mozcloud-preview/application/templates/_helpers.tpl
  mozcloud-preview/library/Chart.yaml
  mozcloud-service/library/Chart.yaml
  mozcloud-workload-core/library/Chart.yaml
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/application/templates/_helpers.tpl
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/tests/__snapshot__/basic-gateway-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-ingress-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-pvc-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml.snap
  mozcloud-workload/application/tests/values/globals.yaml
Due: chartkit-version-check, helm-unittest

chore: force chart version 1.0.0 for all unit tests
  mozcloud-gateway/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-gateway/application/tests/basic-configuration_test.yaml
  mozcloud-ingress/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-ingress/application/tests/basic-configuration_test.yaml
  mozcloud-job/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud-job/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-job/application/tests/basic-cronjob-configuration_test.yaml
  mozcloud-job/application/tests/basic-job-configuration_test.yaml
  mozcloud-workload/application/tests/__snapshot__/basic-gateway-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-ingress-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-pvc-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/basic-workload-configuration_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region_test.yaml.snap
  mozcloud-workload/application/tests/__snapshot__/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml.snap
  mozcloud-workload/application/tests/basic-gateway-configuration_test.yaml
  mozcloud-workload/application/tests/basic-ingress-configuration_test.yaml
  mozcloud-workload/application/tests/basic-job-configuration_test.yaml
  mozcloud-workload/application/tests/basic-pvc-configuration_test.yaml
  mozcloud-workload/application/tests/basic-workload-configuration_test.yaml
  mozcloud-workload/application/tests/configmap-checksum_test.yaml
  mozcloud-workload/application/tests/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region_test.yaml
  mozcloud-workload/application/tests/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region_test.yaml
Due: chartkit-version-check, helm-unittest

chore: add artifact_id to all application chart unit tests
  mozcloud-gateway/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-gateway/application/tests/values/globals.yaml
  mozcloud-ingress/application/tests/__snapshot__/basic-configuration_test.yaml.snap
  mozcloud-ingress/application/tests/values/globals.yaml
  mozcloud-job/application/tests/__snapshot__/basic-cronjob-configuration_test.yaml.snap
  mozcloud-job/application/tests/__snapshot__/basic-job-configuration_test.yaml.snap
  mozcloud-job/application/tests/values/globals.yaml
Due: chartkit-version-check, helm-unittest

feat: add multi container and init container support
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/tests/__snapshot__/multi-containers_test.yaml.snap
  mozcloud-workload/application/tests/configmap-checksum_test.yaml
  mozcloud-workload/application/tests/multi-containers_test.yaml
  mozcloud-workload/application/tests/values/basic-configuration.yaml
  mozcloud-workload/application/tests/values/basic-ingress-configuration.yaml
  mozcloud-workload/application/tests/values/basic-job-configuration.yaml
  mozcloud-workload/application/tests/values/configmap-checksum-nginx.yaml
  mozcloud-workload/application/tests/values/configmap-checksum.yaml
  mozcloud-workload/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region.yaml
  mozcloud-workload/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region.yaml
  mozcloud-workload/application/tests/values/multi-containers.yaml
  mozcloud-workload/application/values.schema.json
  mozcloud-workload/application/values.yaml
Due: chartkit-version-check, helm-unittest

feat: add multi container and init container support (#141)
  mozcloud-workload-stateless/application/Chart.yaml
  mozcloud-workload-stateless/application/README.md
  mozcloud-workload-stateless/library/Chart.yaml
  mozcloud-workload-stateless/library/templates/_deployment.yaml
  mozcloud-workload/application/Chart.yaml
  mozcloud-workload/application/README.md
  mozcloud-workload/application/templates/_helpers.tpl
  mozcloud-workload/application/tests/__snapshot__/multi-containers_test.yaml.snap
  mozcloud-workload/application/tests/configmap-checksum_test.yaml
  mozcloud-workload/application/tests/multi-containers_test.yaml
  mozcloud-workload/application/tests/values/basic-configuration.yaml
  mozcloud-workload/application/tests/values/basic-ingress-configuration.yaml
  mozcloud-workload/application/tests/values/basic-job-configuration.yaml
  mozcloud-workload/application/tests/values/configmap-checksum-nginx.yaml
  mozcloud-workload/application/tests/values/configmap-checksum.yaml
  mozcloud-workload/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-additional-region.yaml
  mozcloud-workload/application/tests/values/multi-cluster-gateway-configuration-across-two-regions-with-weighted-traffic-splitting-primary-region.yaml
  mozcloud-workload/application/tests/values/multi-containers.yaml
  mozcloud-workload/application/values.schema.json
  mozcloud-workload/application/values.yaml
Due: chartkit-version-check, helm-unittest

fix(mozcloud): set version to 0.0.1
  mozcloud/application/Chart.yaml
  mozcloud/application/README.md
Due: chartkit-version-check, helm-unittest

fix: include "mozcloud" dir in auto build and push workload
  .github/workflows/auto-push-tag-helm-charts.yaml
Due: chartkit-version-check

Add self-documenting help target
  Makefile
Due: none

Add clean target
  Makefile
Due: none

Fix .PHONY
  Makefile
Due: none

Install chart dependencies before running unit tests
  Makefile
Due: none
